<p id="notice"><%= notice %></p>

<h4>render_schemaobject(@todoitem) test</h4>
<%= render_schemaobject(@todoitem)  %>

<%= link_to 'Edit', edit_todoitem_path(@todoitem) %> |
<%= link_to 'Back', todoitems_path %>
